* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

p,
h2 {
  background-color: lightslategray;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 2em;
  font-weight: 500;
  cursor: pointer;
}

ol,
.box {
  background-color: lightcoral;
  list-style: none;
  padding: 10px;
  margin: 10px;
  font-size: 2em;
  font-weight: 500;
}
