* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  text-align: center;
}

p,
h2 {
  background-color: lightslategray;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 2em;
  font-weight: 500;
  cursor: pointer;
  width: 30%;
}

ol,
.box,
.phone-list {
  background-color: lightcoral;
  list-style: none;
  padding: 10px;
  margin: 10px;
  font-size: 2em;
  font-weight: 500;
}

section {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section h4 {
  font-size: 2em;
  font-weight: 500;
  padding: 10px;
  margin: 10px;
}

.dynamicCSS {
  background-color: lightgreen;
  text-transform: uppercase;
  font-family: cursive;
}

/* Light - Dark Mode  */
.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.CHANGED {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: red;
  padding: 20px;
  font-size: 2em;
}