* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

p,
h2 {
  background-color: lightslategray;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 2em;
  font-weight: 500;
  cursor: pointer;
}

ol,
.box {
  background-color: lightcoral;
  list-style: none;
  padding: 10px;
  margin: 10px;
  font-size: 2em;
  font-weight: 500;
}

section {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section h4 {
  font-size: 2em;
  font-weight: 500;
  padding: 10px;
  margin: 10px;
}

.dynamicCSS {
  background-color: lightgreen;
  text-transform: uppercase;
  font-family: cursive;
}
